{% extends 'base.html' %}

{% block body %}
    <div class="container mt-3">
        <h1 style="color: orange;">Comunidade Impressionadora - Hashtag Treinamentos</h1>
        <h2>Alunos, experts e a galera da Hashtag em um só lugar</h2>
        <hr>
        <h3>Posts</h3>
        {% for post in posts %}
            <div class="row border mt-4 p-3 post">
                <div class="col col-3">
                    <div class="flex-shrink-0 d-flex justify-content-center">
                        <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}"
                            alt="Foto do Perfil" class="img-fluid"
                            style="width: 150px; height: 150px; border-radius: 90px;">
                    </div>
                    <p class="text-center mt-3 fs-5"><strong>{{ post.autor.username }}</strong></p>
                    {% if not('Não Informado' in post.autor.cursos) %}
                        <div class="d-flex flex-column mt-3">
                            <div class="d-flex flex-wrap justify-content-center">
                                    {% for curso in post.autor.cursos.split(';') %}
                                        <button type="button" class="btn btn-success ms-2 mb-1" disabled>{{ curso }}</button>
                                    {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col col-9">
                    <a href="{{ url_for('exibir_post', post_id=post.id) }}" class="titulo-post"><h5>{{ post.titulo }}</h5></a>
                    <p>{{ post.corpo }}</p>
                </div>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}

